<ion-header class="header">
  <ion-toolbar color="none">
    <ion-item class="toolbar-item" lines="none" color="none">
      <ion-col class="col-item-1"><ion-button color="none" routerLink="/home"><img src="../../../assets/images/icons/back.png" alt=""></ion-button></ion-col>
      <ion-col class="col-item-2"><ion-title size="large">
        Мой профиль
      </ion-title></ion-col>
      <ion-col class="col-item-3"><ion-icon name="log-out-outline"></ion-icon></ion-col>
    </ion-item>

  </ion-toolbar>
</ion-header>
<ion-content class="section">
  <div class="profile-image">
    <img src="../../../assets/images/avatar.png" alt="">
  </div>
  <div class="under-image"> <h2 class="profile-fio">Александр Константинов</h2>
    <p class="profile-point"><ion-icon name="trophy-outline"></ion-icon> 345 баллов</p>
  </div>
  <ion-item class="user-gotodata" lines="none">
    <ion-col size="10"><p><img src="../../../assets/images/icons/user_date.png" alt=""> Личные данные</p></ion-col>
    <ion-col size="2"><ion-icon name="chevron-forward-outline"></ion-icon></ion-col>
  </ion-item>
  <div class="line"></div>

  <p class="section-title">Любымие заведения</p>
  <ion-item class="like-place-item" lines="none">
    <ion-col size="2"><img src="../../../assets/images/burder_king.png" alt=""></ion-col>
    <ion-col class="section-col-2" size="8">
      <ion-list>
        <ion-item lines="none"><p class="title">BurgerKing</p></ion-item>
        <ion-item class="item-2" lines="none">
          <ion-col><p class="point"><ion-icon name="star"></ion-icon> 9.8</p></ion-col>
          <ion-col><p class="price">₽ 756</p></ion-col>
        </ion-item>
        <ion-item class="item-3" lines="none">
          <ion-icon name="restaurant-outline"></ion-icon><p>Стритфуд, бургеры</p>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col size="2"><img src="../../../assets/images/xz.png" alt=""></ion-col>
  </ion-item>
  <div class="line"></div>

  <p class="section-title">Квесты и награды</p>

  <ion-item lines="none">
    <ion-col class="circle-col" size="4">
      <div class="img">
        <circle-progress
          [percent]="85"
          [radius]="126"
          [outerStrokeWidth]="18"
          [innerStrokeWidth]="3"
          [outerStrokeColor]="'#0dca18'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="1100"
          [showTitle]="false"
          [showUnits]="false"
          [showSubtitle]="false"
          [showImage]="true"
          [imageSrc]="'../../../assets/images/sova.png'"
          [imageHeight]="235"
          [imageWidth]="235"

        ></circle-progress>

      </div>
      <p class="title">Сова</p>

    </ion-col>
    <ion-col class="circle-col" size="4">
      <div class="img">
        <circle-progress
          [percent]="25"
          [radius]="126"
          [outerStrokeWidth]="18"
          [innerStrokeWidth]="3"
          [outerStrokeColor]="'#0dca18'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="1100"
          [showTitle]="false"
          [showUnits]="false"
          [showSubtitle]="false"
          [showImage]="true"
          [imageSrc]="'../../../assets/images/sova.png'"
          [imageHeight]="235"
          [imageWidth]="235"

        ></circle-progress>

      </div>
      <p class="title">Сова</p>

    </ion-col>
    <ion-col class="circle-col" size="4">
      <div class="img">
        <circle-progress
          [percent]="55"
          [radius]="126"
          [outerStrokeWidth]="18"
          [innerStrokeWidth]="3"
          [outerStrokeColor]="'#0dca18'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="1100"
          [showTitle]="false"
          [showUnits]="false"
          [showSubtitle]="false"
          [showImage]="true"
          [imageSrc]="'../../../assets/images/sova.png'"
          [imageHeight]="235"
          [imageWidth]="235"

        ></circle-progress>

      </div>
      <p class="title">Сова</p>

    </ion-col>
  </ion-item>
  <ion-item lines="none">
    <ion-col class="circle-col" size="4">
      <div class="img">
        <circle-progress
          [percent]="85"
          [radius]="126"
          [outerStrokeWidth]="18"
          [innerStrokeWidth]="3"
          [outerStrokeColor]="'#0dca18'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="1100"
          [showTitle]="false"
          [showUnits]="false"
          [showSubtitle]="false"
          [showImage]="true"
          [imageSrc]="'../../../assets/images/sova.png'"
          [imageHeight]="235"
          [imageWidth]="235"

        ></circle-progress>

      </div>
      <p class="title">Сова</p>

    </ion-col>
    <ion-col class="circle-col" size="4">
      <div class="img">
        <circle-progress
          [percent]="25"
          [radius]="126"
          [outerStrokeWidth]="18"
          [innerStrokeWidth]="3"
          [outerStrokeColor]="'#0dca18'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="1100"
          [showTitle]="false"
          [showUnits]="false"
          [showSubtitle]="false"
          [showImage]="true"
          [imageSrc]="'../../../assets/images/sova.png'"
          [imageHeight]="235"
          [imageWidth]="235"

        ></circle-progress>

      </div>
      <p class="title">Сова</p>

    </ion-col>
    <ion-col class="circle-col" size="4">
      <div class="img">
        <circle-progress
          [percent]="55"
          [radius]="126"
          [outerStrokeWidth]="18"
          [innerStrokeWidth]="3"
          [outerStrokeColor]="'#0dca18'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="1100"
          [showTitle]="false"
          [showUnits]="false"
          [showSubtitle]="false"
          [showImage]="true"
          [imageSrc]="'../../../assets/images/sova.png'"
          [imageHeight]="235"
          [imageWidth]="235"

        ></circle-progress>

      </div>
      <p class="title">Сова</p>

    </ion-col>
  </ion-item>

  <div style="margin-top: 160px"></div>
  <app-tabbottom></app-tabbottom>
</ion-content>


























































