<ion-header class="header">


  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/home"><img src="../../../assets/images/icons/back.png" alt=""></ion-button>
    </ion-buttons>
    <ion-title size="large">
      <p class="ion-title-p">Регистрация</p>
    </ion-title>
  </ion-toolbar>

</ion-header>
<ion-content class="section">

  <div class="title">
    <img class="title-image" src="../../../assets/images/title.png" alt="Leofood">
  </div>
  <p class="phone-number-p phone-number-password">Пароль</p>
  <ion-item class="password-item">
    <ion-input placeholder="Введите пароль" type="password"></ion-input>
  </ion-item>
  <p class="phone-number-p phone-number-password">Пароль</p>
  <ion-item class="password-item">
    <ion-input placeholder="Введите пароль снова" type="password"></ion-input>
  </ion-item>
  <ion-button routerLink="/set-personal-data" class="sign-in"  expand="block" color="warning" size="large">
    <p style="color: #fff; font-weight: bold;">ГОТОВО</p>
  </ion-button>

</ion-content>
