
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="menu">
      <ion-icon name="book"></ion-icon>
      <ion-label>Меню</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>История</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="create-outline"></ion-icon>
      <ion-label>Заказ</ion-label>
      <ion-badge color="none"><p style="display: block; background: #ed9200; width: 12px; height: 12px; border-radius: 50%;"></p></ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Настройки</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
