<ion-header class="header">


  <ion-toolbar color="none">
    <ion-buttons slot="start">
      <ion-button routerLink="/single/reviews/write"><img src="../../../assets/images/icons/back.png" alt=""></ion-button>
    </ion-buttons>
    <ion-title size="large">
      <p class="ion-title-p">Оставить отзыв</p>
    </ion-title>
  </ion-toolbar>

</ion-header>
<ion-content class="section">

  <ion-list class="starSection">
    <p class="title">Кухнья</p>
    <ion-item lines="none">
      <ion-col size="11">
        <ion-icon class="set" name="star"></ion-icon>
        <ion-icon class="set" name="star"></ion-icon>
        <ion-icon class="set" name="star"></ion-icon>
        <ion-icon class="set" name="star"></ion-icon>
        <ion-icon class="set" name="star"></ion-icon>
        <ion-icon class="set" name="star"></ion-icon>
        <ion-icon class="set" name="star"></ion-icon>
        <ion-icon class="not-set" name="star-outline"></ion-icon>
        <ion-icon class="not-set" name="star-outline"></ion-icon>

      </ion-col>
      <ion-col size="1">
        <p class="star-count">8</p>

      </ion-col>
    </ion-item>
  </ion-list>

  <ion-list class="starSection">
    <p class="title">Сервис</p>
    <ion-item lines="none">
      <ion-col size="11">
        <ion-icon class="set" name="star"></ion-icon>
        <ion-icon class="set" name="star"></ion-icon>
        <ion-icon class="set" name="star"></ion-icon>
        <ion-icon class="set" name="star"></ion-icon>
        <ion-icon class="set" name="star"></ion-icon>
        <ion-icon class="set" name="star"></ion-icon>
        <ion-icon class="set" name="star"></ion-icon>
        <ion-icon class="not-set" name="star-outline"></ion-icon>
        <ion-icon class="not-set" name="star-outline"></ion-icon>

      </ion-col>
      <ion-col size="1">
        <p class="star-count">8</p>

      </ion-col>
    </ion-item>
  </ion-list>

  <ion-list class="starSection">
    <p class="title">Интерьер</p>
    <ion-item lines="none">
      <ion-col size="11">
        <ion-icon class="set" name="star"></ion-icon>
        <ion-icon class="set" name="star"></ion-icon>
        <ion-icon class="set" name="star"></ion-icon>
        <ion-icon class="set" name="star"></ion-icon>
        <ion-icon class="set" name="star"></ion-icon>
        <ion-icon class="set" name="star"></ion-icon>
        <ion-icon class="set" name="star"></ion-icon>
        <ion-icon class="not-set" name="star-outline"></ion-icon>
        <ion-icon class="not-set" name="star-outline"></ion-icon>

      </ion-col>
      <ion-col size="1">
        <p class="star-count">8</p>

      </ion-col>
    </ion-item>
  </ion-list>

  <ion-item lines="none" class="your-point-item">
    <ion-col size="6">
      <p class="your-point">Ваша оценка</p>
    </ion-col>
    <ion-col class="point" size="6">
      <p><ion-icon name="star"></ion-icon> 8.7</p>
    </ion-col>
  </ion-item>
  <div class="line"></div>

  <ion-item>
    <ion-list>
      <ion-item lines="none">
        <ion-label class="review-text">Текст отзыва</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-textarea placeholder="Введите отзыв"></ion-textarea>
      </ion-item>
    </ion-list>
  </ion-item>
  <div class="line"></div>

  <ion-button class="sign-up" expand="block" color="none" size="large">Готово</ion-button>

</ion-content>
