<div class="section">
  <div class="top">
    <div class="image">
      <img src="../assets/images/tiger.png" alt="Leofood">
    </div>
    <div class="title">
      <img class="title-image" src="../assets/images/title.png" alt="Leofood">
    </div>
  </div>
  <div class="btns">
    <a href="#" class="sign-in">Войти</a>
    <a href="#" class="sign-up">Регистрация</a>
  </div>
  <p class="login-sicialite">
    Вход с помощью
  </p>
  <div class="socialites">
      <img class="image" src="../assets/images/icons/fb.png" alt="">
      <img class="image" src="../assets/images/icons/google.png" alt="">
      <img class="image" src="../assets/images/icons/vk.png" alt="">
  </div>
</div>

