<ion-header class="header">


  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/home"><img src="../../../assets/images/icons/back.png" alt=""></ion-button>
    </ion-buttons>
    <ion-title size="large">
      <p class="ion-title-p">Регистрация</p>
    </ion-title>
  </ion-toolbar>

</ion-header>
<ion-content class="section">

  <div class="title">
    <img class="title-image" src="../../../assets/images/title.png" alt="Leofood">
  </div>
  <p class="text">Введите код подтверждения, <br>
    который мы вам отправили в СМС <br>
    на номер +7 945 560 77 90</p>
  <ion-item lines="none">
    <ion-col size="3"><div class="margin"><ion-input maxlength="1"></ion-input></div></ion-col>
    <ion-col size="3"><div class="margin"><ion-input maxlength="1"></ion-input></div></ion-col>
    <ion-col size="3"><div class="margin"><ion-input maxlength="1"></ion-input></div></ion-col>
    <ion-col size="3"><div class="margin"><ion-input maxlength="1"></ion-input></div></ion-col>
  </ion-item>
  <ion-button routerLink="/register-part-2" class="sign-in"  expand="block" color="warning" size="large">
    <p style="color: #fff; font-weight: bold;">ДАЛЕЕ</p>
  </ion-button>

</ion-content>
