.header{
  background-color: #0dca18;
  height: 285px;
}
.section {
  --padding-bottom: 40px;
  --padding-end: 218px;
  --padding-start: 218px;
  --padding-top: 359px;
}
ion-toolbar{
  position: fixed;
  top: 110px;
  width: 100%;
  background: #0dca18;
}
.avatar{
  width: 115px;
}

.search-bar-top{
  width: 96%;
  margin-left: 30px;
  --background: #0dca18;
  ion-button{
    --box-shadow: none;

  }
  ion-searchbar{
    --box-shadow: none;
    --placeholder-color: #fff;
    --placeholder-font-style: normal;
    --placeholder-opacity: 1;
    --icon-color: #fff;
    transform: scale(2.8);
    height: 170px;
    margin: 0 auto;
    width: 30%;

    --background: #0ca814;
    --border-radius: 10px;
    color: #fff;
    font-size: 40px;
  }
}

.line{
  margin: 24px auto;
  width: 94%;
  background: #666666;
  height: 1px;
}

.title{
  font-size: 40px;
  color: #666666;
  text-indent: 32px;
  margin: 20px 0;
  font-weight: bold;
}
.item{
  width: 100%;
  ion-list{
    width: 100%;
  }
  .img-block-item{
    width: 140px !important;
  }
  .title-product{
    font-size: 40px;
    font-weight: bold;
    margin-left: 40px;
    width: 601px;
  }
  .trash{
    ion-icon{
      font-size: 50px;
      color: #0ca814;
      text-align: right;
      display: flex;
      margin-left: auto;
    }
  }
}
.bottom-item{
  margin-top: 40px;
  width: 100%;
  font-size: 50px;
  .bottom-col-1{
    display: flex;
    ion-icon{
      margin-right: 28px;
    }
    .price{
      margin-left: 25px;
      color: #0ca814;
    }
    .q{

    }
    ion-icon{
      color: #666666;
    }
  }
  .bottom-col-2{
    text-align: center;
  }
  .bottom-col-3{
    font-size: 60px;
    .minus{
      margin-right: 35px;
      color: #0ca814;
      font-size: 86px;
      margin-bottom: 10px;
    }
    .plus{
      margin-left: 35px;
      color: #0ca814;
      font-size: 86px;
      margin-top: auto;
      margin-bottom: auto;
    }
    .quality{
      font-weight: bold;
      margin-top: auto;
      margin-bottom: auto;
      font-size: 50px;
    }
    div{
      display: flex;
      margin-left: auto;
      width: 182px;
    }
  }
}

.order-title{
  text-indent: 17px;
  font-size: 40px;
  font-weight: bold;
}
.title-place{
  text-indent: 17px;
  font-size: 38px;
  margin: 15px 0;

}

.pasive{
  background: none !important;
  height: 0 !important;
  overflow: hidden !important;
  transition: 0.55s;
}

.bottom-list{
  transition: 0.55s;
  border-radius: 20px;
  padding: 20px;
  background: #f7f7f8;
  margin: 25px;
  ion-item{
    margin-top: 30px;
  }
  .title-bottom-list{
    font-size: 50px;
    font-weight: bold;
    margin-left: 37px;
  }
  .left{
    font-size: 45px;
  }
  .right{
    font-size: 45px;
    text-align: right;
    margin-right: 44px;
  }
  .last{
    font-weight: bold;
  }
}

.top-item{
  width: 100%;
  .top-item-col-1{

  }
}
.title-date{
  font-size: 30px;
  color: #666666;
  text-align: left;
}
.col-open{
  padding-left: 250px;
  font-size: 50px;
  display: flex;
  ion-icon{
    margin-right: 28px;
  }
  .price{
    margin-left: 25px;
    color: #0ca814;
  }
  .q{
    font-weight: bold;
  }
  ion-icon{
    color: #666666;
  }
  .switcher{
    ion-icon{
      color: #666666;
    }
    margin-left: 40px;
  }
}


.empty{
  width: 100%;
  h2{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
  }
  p{
    font-size: 38px;
    text-align: center;
  }
  .image-empty{
    width: 100%;
    img{
      display: block;
      width: 319px;
      margin: 0 auto;
    }
  }
  .btn-rmpty{
    color: #ee980e;
    border-color: #ee980e;
    font-size: 41px;
    height: 130px;
    --border-radius: 17px;
    --border-width: 7px;
    width: 479px;
    margin: 200px auto;
  }
}
