
<ion-header class="header">
  <ion-toolbar color="none">
    <ion-item class="search-bar-top" lines="none">
      <ion-col size="1">
        <ion-button color="none" routerLink="/dashboard"><img src="../../../assets/images/icons/back.png" alt=""></ion-button>
      </ion-col>
      <ion-col size="9"><ion-searchbar placeholder="Поиск" showCancelButton="never"></ion-searchbar></ion-col>
      <ion-col size="2"><img class="avatar" src="../../../assets/images/avatar.png" alt=""></ion-col>
    </ion-item>
    <app-menu></app-menu>
  </ion-toolbar>

</ion-header>
<ion-content class="section">

  <div class="sale-card">
    <img routerLink="/single/sale" src="../../../assets/images/sale.png" alt="">
    <ion-label class="label-date">05.03.2020</ion-label>
    <h2 class="slider-text">Блюда на вынос — скидка 20%</h2>
  </div>

  <div style="margin-top: 160px"></div>
  <app-tabbottom></app-tabbottom>
</ion-content>



