<ion-content class="section">
    <div class="image">
      <img src="../../../assets/images/tiger.png" alt="Leofood">
    </div>
  <div class="title">
    <img class="title-image" src="../../../assets/images/title.png" alt="Leofood">
  </div>

  <div class="btns">
    <ion-button class="sign-in"  expand="block" color="warning" size="large">
       <p style="color: #fff; font-weight: bold;">ВОЙТИ</p>
    </ion-button>
    <ion-button class="sign-up" expand="block" color="warning" size="large" fill="outline">Регистрация</ion-button>
  </div>

  <p class="login-sicialite">
    Вход с помощью
  </p>

  <div class="socialites">
    <img class="image" src="../../../assets/images/icons/fb.png" alt="">
    <img class="image" src="../../../assets/images/icons/google.png" alt="">
    <img class="image" src="../../../assets/images/icons/vk.png" alt="">
  </div>
</ion-content>
