<ion-header class="header">


  <ion-toolbar color="none">
    <ion-buttons slot="start">
      <ion-button routerLink="/single/reviews/write"><img src="../../../assets/images/icons/back.png" alt=""></ion-button>
    </ion-buttons>
    <ion-title size="large">
      <p class="ion-title-p">Оставить отзыв</p>
    </ion-title>
  </ion-toolbar>

</ion-header>
<ion-content class="section">
  <ion-item lines="none">
    <ion-label class="label">
      Ваш аватар
    </ion-label>
  </ion-item>

  <ion-slides [options]="config">
    <ion-slide>
      <img src="../../../assets/images/avatar.png">
    </ion-slide>
    <ion-slide>
      <img src="../../../assets/images/avatar.png">
    </ion-slide>
    <ion-slide>
      <img src="../../../assets/images/avatar.png">
    </ion-slide>
    <ion-slide>
      <img src="../../../assets/images/avatar.png">
    </ion-slide>
  </ion-slides>
  <div class="swiper-pagination"></div>

  <div class="personal-data">
    <p class="phone-number-p phone-number-password">Имя</p>
    <ion-item class="password-item">
      <ion-input placeholder="Имя" type="text"></ion-input>
    </ion-item>
    <p class="phone-number-p phone-number-password">Фамилия</p>
    <ion-item class="password-item">
      <ion-input placeholder="Фамилия" type="text"></ion-input>
    </ion-item>
    <p class="phone-number-p phone-number-password">Дата рождения</p>
    <ion-item class="password-item">
      <ion-input placeholder="Дата рождения" type="text"></ion-input>
    </ion-item>

    <ion-list class="list-radio">
      <ion-radio-group value="male">
        <ion-item class="radio-btn" lines="none">
          <ion-label>Мужчина</ion-label>
          <ion-radio slot="start" value="male"></ion-radio>
        </ion-item>
        <ion-item class="radio-btn" lines="none">
          <ion-label>Женщина</ion-label>
          <ion-radio style="font-size: 40px; color: red;" slot="start" value="female"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>

  <ion-button routerLink="/adress" class="sign-in btn-bg"  expand="block" color="warning" size="large">
    <p style="color: #fff; font-weight: bold;">ДАЛЕЕ</p>
  </ion-button>

</ion-content>
