<ion-header class="header">
  <ion-toolbar color="none">
    <ion-item class="search-bar-top" lines="none">
      <ion-col size="9"><ion-searchbar placeholder="Поиск" showCancelButton="never"></ion-searchbar></ion-col>
      <ion-col size="2"><img class="avatar" src="../../../assets/images/avatar.png" alt=""></ion-col>
    </ion-item>
  </ion-toolbar>

</ion-header>
<ion-content class="section">
  <p class="title">1 Заказ</p>
  <ion-item class="item" lines="none">
    <ion-list>
      <ion-item lines="none">
        <ion-col size="2"><div class="img-block-item"><img src="../../../assets/images/order_image.png" alt=""></div></ion-col>
        <ion-col size="9"><p class="title-product">Куриный рулет с мангольдом
          и жжеными сливками</p></ion-col>
        <ion-col size="1">
          <p class="trash"><ion-icon name="trash-outline"></ion-icon></p>
        </ion-col>
      </ion-item>
      <ion-item class="bottom-item" lines="none">
        <ion-col size="3" class="bottom-col-1"><ion-icon name="pricetag-outline"></ion-icon><p class="q"></p>₽<p class="price">540</p></ion-col>
        <ion-col size="6" class="bottom-col-2">340 г</ion-col>
        <ion-col size="3" class="bottom-col-3">
          <div>
            <p class="minus">-</p><p class="quality">1</p><p class="plus">+</p>
          </div>
        </ion-col>
      </ion-item>
      <ion-item lines="none"></ion-item>
    </ion-list>
  </ion-item>
  <div class="line"></div>
  <ion-item class="item" lines="none">
    <ion-list>
      <ion-item lines="none">
        <ion-col size="2"><div class="img-block-item"><img src="../../../assets/images/order_image.png" alt=""></div></ion-col>
        <ion-col size="9"><p class="title-product">Куриный рулет с мангольдом
          и жжеными сливками</p></ion-col>
        <ion-col size="1">
          <p class="trash"><ion-icon name="trash-outline"></ion-icon></p>
        </ion-col>
      </ion-item>
      <ion-item class="bottom-item" lines="none">
        <ion-col size="3" class="bottom-col-1"><ion-icon name="pricetag-outline"></ion-icon><p class="q"></p>₽<p class="price">540</p></ion-col>
        <ion-col size="6" class="bottom-col-2">340 г</ion-col>
        <ion-col size="3" class="bottom-col-3">
          <div>
            <p class="minus">-</p><p class="quality">1</p><p class="plus">+</p>
          </div>
        </ion-col>
      </ion-item>
      <ion-item lines="none"></ion-item>
    </ion-list>
  </ion-item>
  <div class="line"></div>

  <ion-list class="bottom-list">
    <ion-item color="none" lines="none">
      <ion-col size="1"><div class="img">
        <img src="../../../assets/images/burder_king.png" alt="">
      </div></ion-col>
      <ion-col size="10"><p class="title-bottom-list">BurgerKing</p></ion-col>
      <ion-col size="1"><div class="img-arrow">
        <img src="../../../assets/images/icons/arrow_right.png" alt="">
      </div></ion-col>
    </ion-item>
    <ion-item color="none" lines="none">
      <ion-col><p class="left">Доставка</p></ion-col>
      <ion-col><p class="right">₽ 50</p></ion-col>
    </ion-item>
    <ion-item color="none" lines="none">
      <ion-col><p class="left">Сумма</p></ion-col>
      <ion-col><p class="right">₽ 600</p></ion-col>
    </ion-item>
    <ion-item color="none" lines="none">
      <ion-col><p class="left last">ИТОГО</p></ion-col>
      <ion-col><p class="right last">₽ 567</p></ion-col>
    </ion-item>
  </ion-list>

  <ion-button class="sign-up" expand="block" color="none" size="large">ОПЛАТИТЬ ₽ 2470 </ion-button>

  <div style="margin-top: 160px"></div>
  <app-tabbottom></app-tabbottom>
</ion-content>
