*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
app-root{
  max-width: 480px;
  margin: 0 auto;
  border:1px solid silver;
  height: auto;
  min-height: 100vh;
}

/*app-root, .section {*/
/*  display: inline-block;*/
/*  height: 100%;*/
/*  width: 100%;*/
/*}*/
