
<ion-header class="header">
  <ion-toolbar color="none">
    <ion-item class="search-bar-top" lines="none">
      <ion-col size="1">
        <ion-button color="none" routerLink="/dashboard"><img src="../../../assets/images/icons/back.png" alt=""></ion-button>
      </ion-col>
      <ion-col size="9"><ion-searchbar placeholder="Поиск" showCancelButton="never"></ion-searchbar></ion-col>
      <ion-col size="2"><img class="avatar" src="../../../assets/images/avatar.png" alt=""></ion-col>
    </ion-item>
    <app-menu></app-menu>
  </ion-toolbar>

</ion-header>
<ion-content class="section">


  <ion-item class="slder3">
    <ion-slides [options]="config3">
      <ion-slide class="slide-3">
        <ion-button class="slide-3-btn" color="none">Азиатская (25)</ion-button>
      </ion-slide>
      <ion-slide class="slide-3">
        <ion-button class="slide-3-btn" color="none">Супы (5)</ion-button>
      </ion-slide>
      <ion-slide class="slide-3">
        <ion-button class="slide-3-btn" color="none"> (25)</ion-button>
      </ion-slide>
      <ion-slide class="slide-3">
        <ion-button class="slide-3-btn" color="none">Азиатская (25)</ion-button>
      </ion-slide>
    </ion-slides>
  </ion-item>

  <div class="slide-4">
    <p class="xit-product-card">ХИТ</p>
    <img routerLink="/single" src="../../../assets/images/menusingle.png" alt="">
    <h2 class="slider-text">Куриный рулет с мангольдом и
      жжеными сливками</h2>
    <p class="desc">Курица, мангольд, сливки, салат айсберг</p>
    <ion-item class="bottom-product-card" lines="none">
      <ion-col size="3"><div class="leftinfo-product">
        <ion-icon name="pricetag-outline"></ion-icon>
        <p class="price"><span>₽</span> 790</p>
      </div></ion-col>
      <ion-col size="4"><p class="size-product-card">340 г</p></ion-col>
      <ion-col size="5" class="img-col"><img src="../../../assets/images/plate.png" alt=""></ion-col>
    </ion-item>
  </div>

  <div style="margin-top: 160px"></div>
  <app-tabbottom></app-tabbottom>
</ion-content>



